---
layout: default
title: "Case Studies"
pagination:
  enabled: true
  collection: case_studies
  indexpage: 'case_studies'
---

{% include page_header.html  %}

<section class="content__body px-1-5 pb-4 mt-1-5">
  <div class="max__body-width">
    {% include post_breadcrumb.html  %}
    <div class="resources__block">
      <div class="resources__filter mb-4">
      </div>
      <div class="resources__content">
        <div class="resources__entries mt-2" data-type="blogs">
         {% include blog_posts.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content" class="content__body bg-white pt-3">
  <div class="content__section px-1-5 my-3 bg-white">
      <div class="max__body-width">
          <div class="headingImage odd py-2-5">
              <div class="headingImage__content">
                  <h2 class="heading mt-0 mb-2">Built for tech startups and fast-growth companies</h2>
                  <div class="ts-lede">
                      <p>
                          Never get lost in the books again with accounting built for tech startups and growing companies. At Accountancy Cloud, we're your trusted finance partner. Our expert online accounting, R&amp;D credits and CFO
                          services free you up to focus on what you do best and help grow your business.
                      </p>
                      <p>We’ll set up your full finance stack for scale, including preferred cash–sweep accounts, payroll, and expense management.</p>
                  </div>
              </div>
              <div class="headingImage__image mt-1">
                  <img
                      alt="Accounting for tech startups"
                      src="https://theaccountancycloud.com/cms-assets/illustrations/technology-companies.png"
                      srcset="https://theaccountancycloud.com/cms-assets/illustrations/technology-companies.png 2x"
                      sizes=""
                      data-loaded="true"
                      class="img-loaded"
                      style="visibility: visible;"
                  />
              </div>
          </div>
      </div>
  </div>
  <div class="content__section px-1-5 pt-3 my-3 bg-primary">
      <div class="max__body-width">
          <div class="content-grid pt-2 pb-4">
              <h2 class="heading mt-0">Why us?</h2>
              <div class="content-grid__blocks content-grid__blocks--wrap">
                  <div class="content-block mt-3-5">
                      <div class="content-block_image mb-1" data-type="icon">
                          <img
                              alt="Accounting for tech startups"
                              src="https://theaccountancycloud.com/cms-assets/illustrations/claim-back-time-blue.png"
                              srcset="https://theaccountancycloud.com/cms-assets/illustrations/claim-back-time-blue.png 2x"
                              sizes=""
                              data-loaded="true"
                              class="img-loaded"
                              style="visibility: visible;"
                          />
                      </div>

                      <h3 class="heading ts-h4 mb-0-5">Claim back your time</h3>
                      <p>
                          As startups ourselves, we get it. Offload mind-numbing, time-consuming bookkeeping to us. Access the expert support and financial insight you need to scale your business. We make it simple to view for real-time
                          insights, cash burn, expenses and more.
                      </p>
                  </div>

                  <div class="content-block mt-3-5">
                      <div class="content-block_image mb-1" data-type="icon">
                          <img
                              alt="Tech companies unmatched acc"
                              src="https://theaccountancycloud.com/cms-assets/illustrations/tech-companies-unmatched-acc.png"
                              srcset="https://theaccountancycloud.com/cms-assets/illustrations/tech-companies-unmatched-acc.png 2x"
                              sizes=""
                              data-loaded="true"
                              class="img-loaded"
                              style="visibility: visible;"
                          />
                      </div>

                      <h3 class="heading ts-h4 mb-0-5">Unmatched accuracy</h3>
                      <p>
                          We <a href="https://theaccountancycloud.com/what-we-do/software-integrations" title="This is a link for https://theaccountancycloud.com/what-we-do/software-integrations">sync</a> with the software you already use
                          like Xero and Quickbooks to provide a full financial picture, that’s always up to date. There’s no need to jump from app to app. And, at month end, you’ll receive your financial reports based on the metrics that
                          matter most.
                      </p>
                  </div>

                  <div class="content-block mt-3-5">
                      <div class="content-block_image mb-1" data-type="icon">
                          <img
                              alt="Accounting for tech startups"
                              src="https://theaccountancycloud.com/cms-assets/illustrations/plan-for-the-future-blue.png"
                              srcset="https://theaccountancycloud.com/cms-assets/illustrations/plan-for-the-future-blue.png 2x"
                              sizes=""
                              data-loaded="true"
                              class="img-loaded"
                              style="visibility: visible;"
                          />
                      </div>

                      <h3 class="heading ts-h4 mb-0-5">Plan for the future</h3>
                      <p>
                          Whether you’re an early stage tech startup or venture-backed, our services scale with you as you expand. We offer expert guidance on investment and funding opportunities via our partners and will make sure you’re
                          taking full advantage of the tax schemes available, including
                          <a href="https://theaccountancycloud.com/what-we-do/accounting-services/r-d-tax-credits" title="This is a link for https://theaccountancycloud.com/what-we-do/accounting-services/r-d-tax-credits">
                              R&amp;D credits
                          </a>
                          .
                      </p>
                  </div>

                  <div class="content-block mt-3-5">
                      <div class="content-block_image mb-1" data-type="icon">
                          <img
                              alt="Accounting for tech startups"
                              src="https://theaccountancycloud.com/cms-assets/illustrations/dedicated-support-blue.png"
                              srcset="https://theaccountancycloud.com/cms-assets/illustrations/dedicated-support-blue.png 2x"
                              sizes=""
                              data-loaded="true"
                              class="img-loaded"
                              style="visibility: visible;"
                          />
                      </div>

                      <h3 class="heading ts-h4 mb-0-5">Dedicated, expert support</h3>
                      <p>Your dedicated finance expert is always on hand to answer queries and is supported by our smart accounting software to ensure all deadlines are met. Simply log in, and connect with us via instant messaging.</p>
                  </div>
              </div>

              <div class="content-grid__button"></div>
          </div>
      </div>
  </div>
  <div class="content__section px-1-5 my-3 bg-tertiary c-white">
      <div class="max__body-width">
          <div class="headingImage odd section-padding py-2-5">
              <div class="headingImage__content">
                  <h2 class="heading mt-0 mb-2">A better way</h2>
                  <div class="ts-lede">
                      <p>
                          70% of companies switch to us from their DIY or legacy system. Now, get your online accounting, tax prep and CFO problems, solved. Complete our
                          <a href="https://theaccountancycloud.com/get-started" title="This is a link for https://theaccountancycloud.com/get-started">contact form</a>, and find out why 9 out of 10 customers recommend us.
                      </p>
                  </div>
              </div>
              <div class="headingImage__image mt-1">
                  <img
                      alt="Online Accounting"
                      src="https://theaccountancycloud.com/cms-assets/illustrations/how-it-works-new-better-way.png"
                      srcset="https://theaccountancycloud.com/cms-assets/illustrations/how-it-works-new-better-way.png 2x"
                      sizes=""
                      data-loaded="true"
                      class="img-loaded"
                      style="visibility: visible;"
                  />
              </div>
          </div>
      </div>
  </div>
  <div class="content__section px-1-5 pt-4 pb-2 bg-secondary my-3">
      <div class="max__body-width">
          <div class="case-study__wrapper">
              <div class="case-study__intro">
                  <h2 class="heading m-0">Case Study</h2>
              </div>
              <div class="case-study__entry mt-4">
                  <div class="post__item bg-white pb-1" data-post-item="">
                      <figure class="post__item-image bg-secondary post__item-image--case">
                          <img
                              width="350"
                              height="233"
                              alt="Avvoka logo"
                              src="https://theaccountancycloud.com/cms-assets/global/_card500/Untitled-design-62.png"
                              srcset="
                                  https://theaccountancycloud.com/cms-assets/global/_card165/Untitled-design-62.png  165w,
                                  https://theaccountancycloud.com/cms-assets/global/_card350/Untitled-design-62.png  350w,
                                  https://theaccountancycloud.com/cms-assets/global/_card500/Untitled-design-62.png  500w,
                                  https://theaccountancycloud.com/cms-assets/global/_video500/Untitled-design-62.png 500w
                              "
                              sizes="(max-width: 567px) 88.71vw, (max-width: 767px) 69.37vw, (max-width: 999px) 46vw, (max-width: 1231px) 23.88vw, (max-width: 1920px) 18.40vw, 265px"
                              data-loaded="true"
                              class="img-loaded"
                              style="visibility: visible;"
                          />
                      </figure>
                      <div class="post__item-meta px-1">
                          <p class="f-mono ts-0-9 mb-0-5">Jun 2020</p>
                      </div>
                      <div class="post__item-content px-1">
                          <a
                              class="post__item-link td-none c-black"
                              href="https://theaccountancycloud.com/resources/case-studies/how-avvoka-uses-the-accountancy-cloud-to-successfully-monitor-cashflow-and-access-r-d-credits"
                              title="How Avvoka uses the Accountancy Cloud to successfully monitor cashflow and access R&amp;D credits"
                              aria-label="Link off to https://theaccountancycloud.com/resources/case-studies/how-avvoka-uses-the-accountancy-cloud-to-successfully-monitor-cashflow-and-access-r-d-credits"
                          >
                              <h5 class="mb-0">How Avvoka uses the Accountancy Cloud to successfully monitor cashflow and access R&amp;D credits</h5>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="content__section content__section--faq px-1-5 pt-4 pb-2 my-3 bg-tertiary c-white">
      <div class="max__body-width">
          <div class="faq">
              <div class="faq__heading mb-1-5">
                  <h2 class="heading mt-0">FAQ</h2>
              </div>
              <div class="faq__content">
                  <div class="faq__row mb-1-5" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                      <p class="ts-lede tf-bold" itemprop="name">What kind of technology companies does the Accountancy Cloud support?</p>
                      <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                          <div itemprop="text">
                              <p>
                                  We’re able to serve tech companies of all shapes and sizes in the technology sector including FinTech, EdTech, MedTech, FoodTech, AI and
                                  <a href="https://theaccountancycloud.com/who-we-help/accounting-for-ecommerce" title="This is a link for https://theaccountancycloud.com/who-we-help/accounting-for-ecommerce">ecommerce</a>. Whether your
                                  company is <a href="https://theaccountancycloud.com/who-we-help/accountants-for-startups" title="This is a link for https://theaccountancycloud.com/who-we-help/accountants-for-startups">pre-seed</a>,
                                  <a href="https://theaccountancycloud.com/who-we-help/small-businesses" title="This is a link for https://theaccountancycloud.com/who-we-help/small-businesses">seed</a> or
                                  <a href="https://theaccountancycloud.com/who-we-help/medium-sized-businesses" title="This is a link for https://theaccountancycloud.com/who-we-help/medium-sized-businesses">growing</a>, SaaS or
                                  marketplace, we can support you.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="faq__row mb-1-5" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                      <p class="ts-lede tf-bold" itemprop="name">What types of accounting software do your customers already use?</p>
                      <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                          <div itemprop="text">
                              <p>
                                  We have customers using a number of different solutions, including Xero and Quickbooks. We’re able to integrate with many different platforms. View our
                                  <a href="https://theaccountancycloud.com/what-we-do/software-integrations" title="This is a link for https://theaccountancycloud.com/what-we-do/software-integrations">integrations page</a> for more
                                  information.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="faq__row mb-1-5" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                      <p class="ts-lede tf-bold" itemprop="name">Which pricing plan is right for my tech company?</p>
                      <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                          <div itemprop="text">
                              <p>
                                  No matter the stage of your business, we’ve made it simple to choose the
                                  <a href="https://theaccountancycloud.com/pricing" title="This is a link for https://theaccountancycloud.com/pricing">plan</a> that’s right for you. If you’re a tech startup with seed investment, we
                                  recommend our Core plan. If you’re a growing technology business in need of more support, take a look at our Plus plan. And for fast growing companies in the tech sector that have more complex needs, our
                                  bespoke Growth plan will be the most suitable option.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="faq__row mb-1-5" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                      <p class="ts-lede tf-bold" itemprop="name">Does the Accountancy Cloud manage tax?</p>
                      <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                          <div itemprop="text">
                              <p>
                                  Yes, we’re ready-made for
                                  <a href="https://theaccountancycloud.com/what-we-do/accounting-services/tax-accountants" title="This is a link for https://theaccountancycloud.com/what-we-do/accounting-services/tax-accountants">
                                      Making Tax Digital
                                  </a>
                                  and will get you through tax season on time and unscathed. We can also provide support and guidance on the schemes available to you such as
                                  <a href="https://theaccountancycloud.com/what-we-do/accounting-services/r-d-tax-credits" title="This is a link for https://theaccountancycloud.com/what-we-do/accounting-services/r-d-tax-credits">
                                      R&amp;D tax credits
                                  </a>
                                  .
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="faq__row mb-1-5" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                      <p class="ts-lede tf-bold" itemprop="name">How much does it cost to work with you?</p>
                      <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                          <div itemprop="text">
                              <p>
                                  The cost of working with us depends on the stage of your business and the support you need. We’ve made it simple to choose the package that’s right for you. To view the packages available visit our
                                  <a href="https://theaccountancycloud.com/pricing" title="This is a link for https://theaccountancycloud.com/pricing">pricing page</a>, pre-revenue companies get a saving of £150 a month for the first
                                  year.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
