<section class="cta bg-white footer-cta py-4 px-1-5">
  <div class="max__body-width">
    <div class="cta__block bg-primaryDark p-2-5">
      <div class="cta__content">
        <h3 class="heading c-black mt-0">Ready to Switch? It's simple.</h3>
        <p class="ts-lede mt-1">Speak to an expert today</p>
      </div>
      <div class="cta__link mt-3">
        <a class="button bg-black td-none" href="#" title="Ready to Switch? It&#039;s simple."> Get Started </a>
      </div>
    </div>
  </div>
</section>
<footer class="site-footer px-1 py-2 bg-tertiary c-white ts-0-9">
      <div class="site-footer__container max__body-width">
        <section class="site-footer__message mb-1-5">
          <div class="message__icon">
            <img src="/assets/images/message_logo.png" width="80" alt="logo" />
          </div>
          <p class="ts-h4 m-0"> Your new finance team </p>
        </section>
        <section class="site-footer__menus pb-2">
          <div class="site-footer__menu mb-1">
            <p class="tf-bold ts-1 mb-0-8">How it works</p>
            <ul class="li-clear my-0-5">
              <li>
                <a href="#" title="Click through to Hassle Free Switching" class="c-teal td-none"> Hassle Free Switching </a>
              </li>
            </ul>
          </div>
          <div class="site-footer__menu mb-1">
            <p class="tf-bold ts-1 mb-0-8">What we do</p>
            <ul class="li-clear my-0-5">
              <li>
                <a href="#" title="Click through to Bookkeeping Services" class="c-teal td-none"> Bookkeeping Services </a>
              </li>
              <li>
                <a href="#" title="Click through to Tax" class="c-teal td-none"> Tax </a>
              </li>
              <li>
                <a href="#" title="Click through to R&amp;D Tax Credits" class="c-teal td-none"> R&D Tax Credits </a>
              </li>
              <li>
                <a href="#" title="Click through to A platform for success" class="c-teal td-none"> A platform for success </a>
              </li>
              <li>
                <a href="#" title="Click through to Software Integrations" class="c-teal td-none"> Software Integrations </a>
              </li>
            </ul>
          </div>
          <div class="site-footer__menu mb-1">
            <p class="tf-bold ts-1 mb-0-8">Who we help</p>
            <ul class="li-clear my-0-5">
              <li>
                <a href="#" title="Click through to Startups" class="c-teal td-none"> Startups </a>
              </li>
              <li>
                <a href="#" title="Click through to Small Business" class="c-teal td-none"> Small Business </a>
              </li>
              <li>
                <a href="#" title="Click through to Medium Business" class="c-teal td-none"> Medium Business </a>
              </li>
              <li>
                <a href="#" title="Click through to CFO &amp; Head of Finance" class="c-teal td-none"> CFO & Head of Finance </a>
              </li>
            </ul>
          </div>
          <div class="site-footer__menu mb-1">
            <p class="tf-bold ts-1 mb-0-8">Resources</p>
            <ul class="li-clear my-0-5">
              <li>
                <a href="#" title="Click through to Case Studies" class="c-teal td-none"> Case Studies </a>
              </li>
              <li>
                <a href="{{ site.url }}" title="Click through to Blogs" class="c-teal td-none"> Blogs </a>
              </li>
            </ul>
          </div>
          <div class="site-footer__menu mb-1">
            <p class="tf-bold ts-1 mb-0-8">Company</p>
            <ul class="li-clear my-0-5">
              <li>
                <a href="#" title="Click through to About Us" class="c-teal td-none"> About Us </a>
              </li>
              <li>
                <a href="#" title="Click through to Careers" class="c-teal td-none"> Careers </a>
              </li>
              <li>
                <a href="#" title="Click through to Contact Us" class="c-teal td-none"> Contact Us </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="site-footer__meta mt-2">
          <div class="meta__information">
            <p class="tf-bold ts-1 mb-0-8">Speak to us</p>
            <a href="tel:" title="The telephone number for Accountancy Cloud" aria-label="The telephone number for Accountancy Cloud" class="c-teal td-none d-block mb-0-5"> Call +44 (0)20 8012 8616 </a>
            <a href="#" title="Refer a friend for £175" class="c-teal td-none d-block  mb-0-5"> Refer a friend for £175 </a>
            <a href="#" title="Partner with us" class="c-teal td-none d-block  mb-0-5" target=&quot;_blank&quot;> Partner with us </a>
          </div>
          <div class="meta__social my-2">
            <div class="meta__social-accounts">
              <a class="c-white td-none ts-2 d-inline-block" href="#" title="Linkedin" target="_blank" aria-label="Find us on Linkedin">
                <i class="site-icon icon-linkedin" aria-hidden="true"></i>
              </a>
              <a class="c-white td-none ts-2 d-inline-block" href="#" title="Twitter" target="_blank" aria-label="Find us on Twitter">
                <i class="site-icon icon-twitter" aria-hidden="true"></i>
              </a>
              <a class="c-white td-none ts-2 d-inline-block" href="#" title="Facebook" target="_blank" aria-label="Find us on Facebook">
                <i class="site-icon icon-facebook" aria-hidden="true"></i>
              </a>
            </div>
            <div class="meta__logo">
              <img src="/assets/images/meta_logo.png" alt="meta_logo"/>
            </div>
          </div>
        </section>
        <section class="site-footer__legal">
          <p class="c-teal mb-0-4"> &copy; Accountancy Cloud 2022 </p>
          <a href="#" title="Click to view the Accountancy Cloud's privacy page" aria-label="Click to view the Accountancy Cloud's privacy page" class="c-teal td-none d-block mb-0-4"> Privacy Policy & Cookies </a>
          <a href="#" title="Click to view the Accountancy Cloud's terms of service page" aria-label="Click to view the Accountancy Cloud's terms of service page" class="c-teal td-none d-block mb-0-4"> Terms of Service </a>
        </section>
      </div>
    </footer>
  </body>
</html>