<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% if page.title %} {{page.title}} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <link rel="canonical" href="{{ page.url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/assets/images/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/assets/styles/style.min.css" />
    <script src="/assets/scripts/site.min.js" async="async" defer="defer"></script>
  </head>
  <div id="global-banner" class="global-banner bg-tertiary c-white" data-banner-id="get-our-digital-cfo-service-free">
    <div class="p-1-5">
      <div class="global-banner__wrapper max__body-width">
        <div class="global-banner__content">
          <h4 class="heading m-0">Get Our Digital CFO Service FREE</h4>
        </div>
        <div class="global-banner__button mt-1-3">
          <a class="button td-none" href="#" title="Get Our Digital CFO Service FREE" target=&quot;_blank&quot;> Get Started FREE </a>
        </div>
        <div class="global-banner__close">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.55 52.55">
            <defs>
              <style>
                .cls-1 {
                  fill: #898aa4
                }
              </style>
            </defs>
            <path class="cls-1" d="M26.27 52.55a26.28 26.28 0 1 1 26.28-26.28 26.31 26.31 0 0 1-26.28 26.28zm0-50.55a24.28 24.28 0 1 0 24.28 24.27A24.3 24.3 0 0 0 26.27 2z" />
            <path class="cls-1" transform="rotate(-45 26.27 26.268)" d="M25.27 16.4h2v19.75h-2z" />
            <path class="cls-1" transform="rotate(-45 26.27 26.268)" d="M16.4 25.27h19.75v2H16.4z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <body itemtype="http://schema.org/WebPage" data-template="{{ page.url }}" class="bg-primary env--production slug--blogs entry-type--resources-sub template--templates/resources-sub">
    <!--[if IE 9]>
    <p>You are using an 
        <strong>outdated</strong> browser. Please 
        <a href="http://browsehappy.com/">upgrade your browser</a>
    </p>
    <![endif]-->
    <a class="a11y-navigation" href="#content" title="Jump to Content"> Jump to content </a>
    <header class="site-header mb-2" role="banner">
      <div class="site-header__inner max__body-width">
        <div class="site-header__logo" itemprop="headline">
          <a href="/" title="{{ site.title }}">
            <img src="{{ site.logo_url }}" alt="{{ site.title }}" width="501" height="107" />
          </a>
        </div>
        <div class="site-header__menu" data-mobile-menu>
          <div class="site-header__menu-button">
            <div class="mobile-open" data-mobile-trigger>
              <span class="bg-black"></span>
              <span class="bg-black"></span>
              <span class="bg-black"></span>
            </div>
            <div class="mobile-close d-none" data-mobile-close>
              <div class="mobile-close__wrapper">
                <span class="bg-black"></span>
                <span class="bg-black"></span>
              </div>
            </div>
          </div>
          <nav id="main-menu" class="site-header__menu-navigation bg-white menu-offcanvas" role="navigation" data-main-menu data-direction="right" data-menu-effect="fade" data-width="fullscreen" aria-hidden="true">
            <div class="navigation-container">
              <div id="menu-0" class="menu-0 menu-panel menu-hidden">
                <ul class="menu">
                  <li class="site-header__menu-item " role="none">
                    <a class="c-black d-block" title="Home" href="{{ site.url }}" role="menuitem"> Home </a>
                  </li>
                  <li class="site-header__menu-item " role="none">
                    <a class="c-black d-block" title="How it works" href="#" role="menuitem"> How it works </a>
                  </li>
                  <li class="site-header__menu-item site-header__menu-item--children" role="none">
                    <a class="menu-next c-black d-block" title="What we do" href="javascript:void(0)" data-target="menu-18" data-parent="menu-0"> What we do 
                       <img src="/assets/images/array_right.png" alt="arrow right" />
                    </a>
                  </li>
                  <li class="site-header__menu-item site-header__menu-item--children" role="none">
                    <a class="menu-next c-black d-block" title="Who we help" href="javascript:void(0)" data-target="menu-20" data-parent="menu-0"> Who we help 
                      <img src="/assets/images/array_right.png" alt="array_right" />
                    </a>
                  </li>
                  <li class="site-header__menu-item site-header__menu-item--children" role="none">
                    <a class="menu-next c-black d-block" title="Resources" href="javascript:void(0)" data-target="menu-24" data-parent="menu-0"> Resources
                    <img src="/assets/images/array_right.png" alt="array_right" />
                    </a>
                  </li>
                </ul>
              </div>
              <div id="menu-18" class="menu-panel menu-hidden">
                <div class="menu-navbar my-1-5 bg-primary">
                  <p class="f-heading m-0 ts-h3">What we do</p>
                  <a class="menu-back" href="javascript:void(0)" data-target="menu-18" data-parent="menu-0" title="View Previous Menu">
                    <img src="/assets/images/array_right.png" alt="arrow right" />
                  </a>
                </div>
                <ul class="menu">
                  <ul class="sub-menu__wrap">
                    <p class="tf-bold px-1 mb-0-5"> Accounting Services </p>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Bookkeeping Services" href="#" role="menuitem"> Bookkeeping Services </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Tax" href="#" role="menuitem"> Tax </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="R&amp;D Tax Credits" href="#" role="menuitem"> R&D Tax Credits </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="CFO" href="#" role="menuitem"> CFO </a>
                    </li>
                  </ul>
                  <ul class="sub-menu__wrap">
                    <p class="tf-bold px-1 mb-0-5"> Our Platform </p>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="A platform for success" href="#" role="menuitem"> A platform for success </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Software Integrations" href="#" role="menuitem"> Software Integrations </a>
                    </li>
                  </ul>
                </ul>
              </div>
              <div id="menu-20" class="menu-panel menu-hidden">
                <div class="menu-navbar my-1-5 bg-primary">
                  <p class="f-heading m-0 ts-h3">Who we help</p>
                  <a class="menu-back" href="javascript:void(0)" data-target="menu-20" data-parent="menu-0" title="View Previous Menu">
                    <img src="/assets/images/array_right.png" alt="arrow right" />
                  </a>
                </div>
                <ul class="menu">
                  <ul class="sub-menu__wrap">
                    <p class="tf-bold px-1 mb-0-5"> Company Size </p>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Startups" href="#" role="menuitem"> Startups </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Small Business" href="#" role="menuitem"> Small Business </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Medium Business" href="#" role="menuitem"> Medium Business </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="CFO &amp; Head of Finance" href="#" role="menuitem"> CFO & Head of Finance </a>
                    </li>
                  </ul>
                  <ul class="sub-menu__wrap">
                    <p class="tf-bold px-1 mb-0-5"> Company Type </p>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Tech startups" href="#" role="menuitem"> Tech startups </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Ecommerce" href="#" role="menuitem"> Ecommerce </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Food &amp; Drink" href="#" role="menuitem"> Food & Drink </a>
                    </li>
                  </ul>
                </ul>
              </div>
              <div id="menu-24" class="menu-panel menu-hidden">
                <div class="menu-navbar my-1-5 bg-primary">
                  <p class="f-heading m-0 ts-h3">Resources</p>
                  <a class="menu-back" href="javascript:void(0)" data-target="menu-24" data-parent="menu-0" title="View Previous Menu">
                    <img src="/assets/images/array_right.png" alt="arrow right" />
                  </a>
                </div>
                <ul class="menu">
                  <ul class="sub-menu__wrap">
                    <p class="tf-bold px-1 mb-0-5"></p>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Case Studies" href="/case_studies" role="menuitem"> Case Studies </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="Blogs" href="/blog" role="menuitem"> Blogs </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="c-black" title="School of Startups" href="#" role="menuitem"> School of Startups </a>
                    </li>
                  </ul>
                </ul>
              </div>
              <div class="navigation__button navigation__button--1 border-black-1">
                <a class="c-black ts-h5" href="#" title="Click here to Login"> Login </a>
              </div>
              <div class="navigation__button navigation__button--2 bg-black">
                <a class="c-white ts-h5" href="#" title="Click here to Talk to an Expert"> Talk to an Expert </a>
              </div>
            </div>
          </nav>
        </div>
        <div class="site-header__menu" data-desktop-menu aria-hidden="true">
          <div class="main-menu__overlay"></div>
          <nav class="main-menu">
            <ul class="menu">
              <li class="menu__item  d-inline-block" role="none">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Home" href="{{ site.url }}" data-target="menu-14" data-parent="menu-0"> Home </a>
                </div>
              </li>
              <li class="menu__item  d-inline-block" role="none">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="How it works" href="#" data-target="menu-26" data-parent="menu-0"> How it works </a>
                </div>
              </li>
              <li class="menu__item menu__item--children d-inline-block" role="none">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="What we do" href="#" data-target="menu-27" data-parent="menu-0"> What we do </a>
                </div>
                <ul class="sub-menu" role="menu" data-parent="0">
                  <ul class="sub-menu sub-menu--wrap li-clear">
                    <li class="tf-bold sub-menu__heading" aria-hidden="true"> Accounting Services </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Bookkeeping Services" href="#" role="menuitem"> Bookkeeping Services </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Tax" href="#" role="menuitem"> Tax </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="R&amp;D Tax Credits" href="#" role="menuitem"> R&D Tax Credits </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="CFO" href="#" role="menuitem"> CFO </a>
                    </li>
                  </ul>
                  <ul class="sub-menu sub-menu--wrap li-clear">
                    <li class="tf-bold sub-menu__heading" aria-hidden="true"> Our Platform </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="A platform for success" href="#" role="menuitem"> A platform for success </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Software Integrations" href="#" role="menuitem"> Software Integrations </a>
                    </li>
                  </ul>
                </ul>
              </li>
              <li class="menu__item menu__item--children d-inline-block" role="none">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Who we help" href="#" data-target="menu-28" data-parent="menu-0"> Who we help </a>
                </div>
                <ul class="sub-menu" role="menu" data-parent="0">
                  <ul class="sub-menu sub-menu--wrap li-clear">
                    <li class="tf-bold sub-menu__heading" aria-hidden="true"> Company Size </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Startups" href="#" role="menuitem"> Startups </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Small Business" href="#" role="menuitem"> Small Business </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Medium Business" href="#" role="menuitem"> Medium Business </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="CFO &amp; Head of Finance" href="#" role="menuitem"> CFO & Head of Finance </a>
                    </li>
                  </ul>
                  <ul class="sub-menu sub-menu--wrap li-clear">
                    <li class="tf-bold sub-menu__heading" aria-hidden="true"> Company Type </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Tech startups" href="#" role="menuitem"> Tech startups </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Ecommerce" href="#" role="menuitem"> Ecommerce </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Food &amp; Drink" href="#" role="menuitem"> Food & Drink </a>
                    </li>
                  </ul>
                </ul>
              </li>
              <li class="menu__item menu__item--children d-inline-block" role="none">
                <div class="menu__item-link">
                  <a class="menu-link c-black" title="Resources" href="#" data-target="menu-30" data-parent="menu-0"> Resources </a>
                </div>
                <ul class="sub-menu" role="menu" data-parent="0">
                  <ul class="sub-menu sub-menu--wrap li-clear">
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Case Studies" href="/case_studies" role="menuitem"> Case Studies </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="Blogs" href="/blogs" role="menuitem" data-nav-active="true"> Blogs </a>
                    </li>
                    <li class="menu__item" role="none">
                      <a class="menu-link c-black" title="School of Startups" href="#" role="menuitem"> School of Startups </a>
                    </li>
                  </ul>
                </ul>
              </li>
            </ul>
          </nav>
          <a class="site-header__button button button--ghost td-none tf-bold" href="#" title="Click here to Login"> Login </a>
          <a class="site-header__button button bg-black td-none tf-bold" href="#" title="Click here to Talk to an Expert"> Talk to an Expert </a>
        </div>
      </div>
    </header>