<div class="filters my-2">
  <a class="filters__filter {% if page.pagination.indexpage == 'blogs' %} filters__filter--active {% endif %}" href="/blogs" title="View Blogs">
     Blogs<span class="count">(377)</span>
  </a>
  <a class="filters__filter {% if page.pagination.indexpage == 'case_studies' %} filters__filter--active {% endif %}" href="/case_studies" title="View more entries for Case Studies">
     Case Studies <span class="count">(10)</span>
  </a> 
  <a class="filters__filter {% if page.pagination.indexpage == 'guides' %} filters__filter--active {% endif %}" href="/guides">
  Guides <span class="count">(25)</span>
  </a> 
  <a class="filters__filter {% if page.pagination.indexpage == 'podcasts' %} filters__filter--active {% endif %}" href="/podcasts">
  Podcasts <span class="count">(6)</span>
  </a>
</div>